examples/org.eclipse.epsilon.examples.xsdxml/library/library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="library">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="book" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="author" maxOccurs="unbounded" type="xs:string"></xs:element>
							<xs:element name="published" type="xs:int"></xs:element>
						</xs:sequence>
						<xs:attribute name="title" type="xs:string"></xs:attribute>
						<xs:attribute name="pages" type="xs:int"></xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>